{%- set _username = username if username else "World" -%}
<html>
  <head>
    <title>Flask and Kafka</title>
  </head>
  <body>
    <p>Hello {{ _username }}!</p>
    {% if username %}
    <p><a href="/">Back</a></p>
    {% else %}
    <p><em>Hint</em>: This is a RESTful web service! Append a username
    to the URL (for example: <code>/Thelonious</code>) to say hello to
    someone specific.</p>
    {% endif %}
    {% if kafka_bootstrap %}
    <p>Kafka is available at <b><code>{{ kafka_bootstrap }}</code></b></p>
    <p>Send data to it by issuing a <code>POST /generate</code></p>
    <form action="/generate" method="GET">
      Record count:<br>
      <input type="text" name="c">
      <input type="submit" value="Generate">
    </form>
    {% endif %}
    </body>
</html>
